.react-calendar-heatmap .color-empty { fill: #eee; }
.react-calendar-heatmap .color-scale-1 { fill: #d6e685; }
.react-calendar-heatmap .color-scale-2 { fill: #a6d075; }
.react-calendar-heatmap .color-scale-3 { fill: #8cc665; }
.react-calendar-heatmap .color-scale-4 { fill: #6cb653; }
.react-calendar-heatmap .color-scale-5 { fill: #44a340; }
.react-calendar-heatmap .color-scale-6 { fill: #228336; }
.react-calendar-heatmap .color-scale-7 { fill: #1e6823; }